@import "../../variables.scss";

    .shopItem{
        background:#eeeeee;
        width: 240px;
        height: 270px;
        padding: 17px;
        img{
            width: 180px;
            height: 180px;
            object-fit: contain;
            margin-left: 15%;
        }
        p{
            font-size: 14px;
            font-family: $main-text;
            text-align: center;
            color:#000;
        }
        .info{
            margin-top: -10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            h3{
                font-size: 20px;
                font-family: $header-text;
                color:$second-color;
            }
            .link{
                background:$four-color;
                outline:none;
                padding:3%;
                border: none;
                border-radius: 10px;
                text-decoration: none;
                color:#fff;           }
        }
    }

