@import "../../variables.scss";
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
  background-color: $thrid-color;
  font-family: $main-text;
  margin: 0;
  .forgetpassword-card {
    background: $second-color;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;

    h2 {
      font-size: 1.5rem;
      color: $four-color;
      text-align: center;
      margin: 0 0 1.5rem;
    }
    .form-group {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
      }
      input {
        display: block;
        padding: 0.75rem;
        border: 1px solid $first-color;
        box-sizing: border-box;
      }
    }
    button {
      background: $four-color;
      outline: none;
      color: $first-color;
      padding: 2%;
      letter-spacing: 2px;
      border: 2px solid $first-color;
      border-radius: 10px;
    }
  }
}
