
@font-face {
    font-family:'PlayfairDisplay';
    src: url("./assets/fonts/PlayfairDisplay.ttf");
}

@font-face {
    font-family:'Poppins';
    src: url("./assets/fonts/Poppins.ttf");
}

$main-text:'Poppins';
$header-text:'PlayfairDisplay';

$first-color:#fff;
$second-color:#fd9c6b;
$thrid-color:#795548;
$four-color:#130d0b;

